body{
    font-family:Arial, Helvetica, sans-serif;
}
.search-bar{
    border: solid 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    margin: 100px auto;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.search-bar:focus-within{
    border: solid 1px #aaa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.search-bar input[type="text"]{
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;

    font-size: 18px;
}

.search-bar .actions{
    display: flex;
    gap: 5px;
}
 .search-bar .actions button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #999;
 }
 .search-bar .actions button:hover{
    color: #2979e2;
 }